body
{
    background: Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    
}

a:hover
{
color: red ;
}
.nav-item{
    margin-right: 70px;
    color: white;
    text-decoration: none;
}

#tete
{
    margin-top: 20px;
    margin-inline-end: 50px;
}

.images1 img{
    display: inline;
}
.images2 img{
    display: inline;
}
.images3 img{
    display: inline;
    }
courses.html
{
    background-color: rgb(116, 12, 12);
}
display inline blockquote
border
#a.b
{
    display: inline-block;
    color: aqua;
    border: burlywood;
}
#z
{ 
    color: blue;

}
#zz
{
    color: white;
}
#xx
{
    background-color: rgb(25, 132, 204) ;
    color: white;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 4px;
}
#logo
{
    margin-right: 1400px;
}